<div class="component">
    <h2>Exercício 5: Status do Pedido com &#64;switch</h2>
    <select [(ngModel)]="status">
      <option value="pendente">Pendente</option>
      <option value="enviado">Enviado</option>
      <option value="entregue">Entregue</option>
      <option value="outro">Outro</option>
    </select>

    @switch (status) {
      @case ('pendente') { <p>Aguardando confirmação</p> }
      @case ('enviado') { <p>Pedido a caminho</p> }
      @case ('entregue') { <p>Pedido entregue</p> }
      @default { <p>Status desconhecido</p> }
    }
  </div>
  