<h1>Atividade 1 - Checkpoint 2</h1>
<app-mes-component></app-mes-component>
<app-listas-compras-component></app-listas-compras-component>
<app-acesso-component></app-acesso-component>
<app-tarefas-component></app-tarefas-component>
<app-status-pedido-component></app-status-pedido-component>
<app-usuarios-component></app-usuarios-component>
<app-valor-component></app-valor-component>
<app-login-component></app-login-component>
<app-produtos-component></app-produtos-component>
<app-calculadora-component></app-calculadora-component>